= form_with(model: @user, url: path, local: true) do |f|
  = f.label 'Név:'
  = f.text_field :name
  %p
  = f.label 'Felettes:'
  = select_tag('user[manager_serial]', options_for_select(@managers, @user.manager&.serial), include_blank: '---')
  %p
  - addresses = @user.addresses
  - addresses += [Address.new] unless addresses.size == 5
  - addresses.each_with_index do |address, index|
    %h4 #{index + 1}. CÍM:
    %p
    = f.label 'Ország'
    = f.text_field '[addresses_attributes][][country]',  value: address.country
    %p
    = f.label 'Irányítószám'
    = f.text_field '[addresses_attributes][][zip_code]', value: address.zip_code
    %p
    = f.label 'Város'
    = f.text_field '[addresses_attributes][][city]',     value: address.city
    %p
    = f.label 'Utca'
    = f.text_field '[addresses_attributes][][street]',   value: address.street
    %p
  = submit_tag 'Mentés'
  %p
=button_to('Mégsem', { action: :index }, method: :get )