%table{ hidden: true }
  %thead
    %tr
      %td= 'NÉV'
      %td= 'JOGOSULTSÁGOK'
      %td
  %tbody
    - users.each do |user|
      %tr
        %td= user.name
        %td= user.roles.pluck(:__type).join(',')
        %td
          =button_to('Szerkesztés', { action: :edit, serial: user.serial }, method: :get)
