%h1= 'Felhasználók'

%button{ id: :all_users }= 'Összes felhasználó'
= render partial: 'users/table', locals: { users: @users }
%p
%button{ id: :non_managers }= 'Nem felettes felhasználók'
= render partial: 'users/table', locals: { users: @non_managers }
%p
=button_to('Új felhasználó felvitele', { action: :new }, method: :get)